# History files
.RData
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
*.html

# Genetic Map files
Data/GeneticMap1KG/*.txt

# Encode bigWig files
Data/wgEncodeBroadHistone/*.bigWig

# DNASE bed file
Data/wgEncodeRegDnaseClustered/*.bed
Data/wgEncodeRegDnaseClustered/*.txt

# Manuscript - ignore all until published
Manuscript/*.*

# MAC thumbs
*.db

# test scripts
testing_*.*
